<br>
<br>
<ul class="list-inline text-center">
  <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "images/#{member}.jpg", class: "img-circle avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
<h3 class="padded text-center">
    <a href="mailto:contact@airbnb.com">
    <i class="fa fa-envelope"></i>
      contact@airbnb.com
    </a>
  </h3>
</div>
